* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
}

li {
    list-style: none;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;  
}

.navBar__li {
    font-size: 1.5rem;
    padding: 1rem;
}

.navText {
    text-decoration: none;
    color: #212121;
}

.navText:hover {
    text-decoration: underline;
}

.buttons {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.b1 {
    background-color: #1073E8;
    color: white;
}

.b1:hover {
    background-color: #257DE9;
}

.logoFig {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
}

.logo {
    width: 300px;
}

.bar {
    margin: 3rem auto;
    display: flex;
    width: 65rem;
    min-width: 32rem;
    border: solid #dfe1e5c4 0.1rem;
    border-radius: 3rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.searchLogo {
    width: 1.4rem;
    margin: 0 1rem;
}

.searchBar {
    width: 55rem;
    border: none;
}

.mainButtons {
    display: flex;
    justify-content: center;
}

.b2 {
    background-color: #F8F9FA;
}

.b2:hover {
    border: solid #dfe1e5 0.1rem;
}

footer {
    display: flex;
    width: 100vw;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
}

.footSec {
    display: flex;
    width: 50vw;
} 

.s2 {
    justify-content: flex-end;
}


.foot {
    display: flex;
}

.footText {
    color: #676B70;
    text-decoration: none;
    margin: 2rem;
}
